{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}'s comments{% endblock %}

{% block body %}
<div class="row">
        <div class="col">
            {% if comments|length > 0 %}
                <h5>You've posted {{ comments|length }} comments.</h5>
                {% for comment in comments %}
                    <div class="media shadow border rounded-3 p-3 mb-4">
                        <div class="comment-img me-3">
                            {% if comment.photofilename %}
                                <a href="{{ asset('uploads/photos/' ~ comment.photofilename) }}" target="_blank">
                                    <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" />
                                </a>
                            {% endif %}
                        </div>

                        <div class="media-body">
                            <h4 class="font-weight-light mb-0">
                                {{ comment.author }}
                            </h4>

                            <div class="mb-2">
                                <small class="text-muted text-uppercase">
                                    {{ comment.createdAt|format_datetime('medium', 'short') }}
                                </small>
                            </div>

                            <div class="comment-text">
                                {{ comment.text|nl2br }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center">
                    You haven't posted any comments yet.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}